{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "content"}}
    <div class="d-flex flex-row bd-highlight mb-3 align-items-center justify-content-between">
        <h1>Articles</h1>
        <a href="/article/create" class="btn btn-primary">Créer</a>
    </div>

    <div class="list-group">
    {{range .Content}}
        <div class="d-flex w-100 justify-content-between align-items-center list-group-item list-group-item-action">
            <a class="d.block w-100 text-dark text-decoration-none" href="/article/{{.ID}}">
            <h5 class="mb-1">{{.Title}}</h5>
            <p class="mb-1">{{.Description}}</p>
            <a href="/article/{{.ID}}/edit">Editer</a>
        </div>
    {{end}}
    </div>
{{end}}