{{define "articles"}}
    <h1>Articles</h1>

    <div class="list-group">
    {{range .}}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{.Title}}</h5>
            <small>Now</small>
            </div>
            <p class="mb-1">{{.Description}}</p>
        </a>
    {{end}}
    </div>
{{end}}